body{
    text-shadow: black;
    /*margin-left: 25px;*/
}

.main {
    margin-left: 30px;
}
#rcorners1 {
  border-radius: 25px;
  background: darkslategrey;
  margin: 20px;
}


.navbar {
    background-color : #7fc797 !important;
}