{% extends "layout.html" %} {% block body %}

<div style="text-align:center;padding-top: 100px; ">
	<h1>Building the LS Memorial School Video</h1>
  <iframe src="https://player.vimeo.com/video/16820697?h=28bd6b5c1b " style="border:none;" width="100% " height="960" allow="autoplay; fullscreen; picture-in-picture "
	 allowfullscreen></iframe>

  <!--<iframe src="https://player.vimeo.com/video/16820697?h=28bd6b5c1b " style="border:none;" width="1280 " height="960" allow="autoplay; fullscreen; picture-in-picture "
  allowfullscreen></iframe>-->
</div>






  
{% endblock %}