{% extends "layout.html" %} {% block body %}
<h1>Articles Written About the Cambodia Project</h1>
<br><br>
<h3>School in Cambodia memorializes L-S students who died too soon</h3>



In an act of remembrance heard round the world, the Lincoln-Sudbury Memorial School opened its doors on October 1, in the
rural Battambang Province of Cambodia, almost 9,000 miles from the highschool on Lincoln Rd.
<br>
<br>
The new school was the result of a busy year planning and fundraising by L-S alum Mira Vale, ‘09, who sought to create a living memorial to all of the students and alumni that "we lost too soon" during LincolnSudbury’s first half-century.
<br>
<br>
According to Vale, she first conceived of the idea for the Memorial School Project in the winter of 2007, her sophomore year at L-S. She recalls that it was a difficult time for anyone connected to the school. In the aftermath of tragically losing several members of the community, she began to wonder, "What could I possibly do to make this situation a little better?"
<br>
<br>
She recalled a December 2006 column by Nicholas Kristof in the New York Times detailing efforts to build schools in rural Cambodia, where war, genocide, poverty and the sex slave trade had destroyed the lives of many youth. She wondered, "What if L-S could help build a school as a means of healing our own?"
<br>
<br>
In her senior year, Vale - now a student at Yale - initiated an ambitious effort to raise the required $13,000. She and a small circle of friends and faculty organized t-shirt and bake sales, a roller-skating event, several benefit concerts, a community yard sale, and Facebook appeals. With contributions from students, staff, and alumni, a generous grant from the LSPO, and a gift from the Class of 2009, the goal was finally reached last spring. Construction on the school then began under the aegis of "American Assistance for Cambodia" (AAfC), which has helped build over 400 schools in that country.
<br>
<br>
Last month, the Lincoln-Sudbury Memorial School opened and the first photographs arrived shortly thereafter.
<br>
<br>
"After more than two and-a-half years, this project was suddenly so real," says Vale. "It amazes me that thousands of miles away, there is a school with our name on it, one that our love and community built, which is providing opportunities for a better life for people who wouldn’t otherwise have the chance to go to school.
<br>
<br>
"I’m proud of the efforts of the Lincoln-Sudbury Memorial School Project, and I’m profoundly grateful to the
support we’ve received along the way. Thanks especially to Bill Schechter, John Ritchie, and Ann Kramer for
helping to move this project to action, to the L-S students and alumni who baked cookies, played music, and
fell down on roller skates for a good cause, to my parents for their support in so many different ways, and of
course to the L-S community for their contributions to this project."
<br>
<br>
Schechter, a retired L-S history teacher, noted that the two Lincoln-Sudburys are very different in scale, but
that "the hopeful looks on the faces of the Cambodian students are the very same as those I saw every year
on the first day of school in Sudbury.
<br>
<br>
"Everyone who has seen the memorial list is shocked by how long it is. But alumni have also said how good
School in Cambodia memorializes L-S students who died too soon they feel that their friends are being remembered in a way that will help other young people who have
suffered so much.."
<br>
The story of the new school and the names of those to whom it is dedicated will be preserved on the new Lincoln-Sudbury Memorial School Web site, which is located at: !!TBD!! Names can be added to the "virtual plaque" and corrections made through a link on the page. The Web site will soon accessible through the Lincoln-Sudbury Regional H.S. home page.
<br>
<br>
Presently, there is no easy way to contact the Cambodian school, because the remote area does not receive regular mail service. If additional funds can be raised, it would be possible to supply the school with an English/computer teacher, solar panels, and a low-power computer capable of sending and receiving email. Contributions can be sent to L-S English teacher Ann Kramer. Checks should be made payable to "American
Assistance for Cambodia (AAfC)."

<br>
<br>
<br>

<h3>Sudbury contingent celebrates opening of Lincoln- Sudbury Memorial School in Cambodia</h3>


On Tuesday, May 11, I handed in my statistics final exam and headed back to Lincoln, a joyous return home after
what was by all accounts a wonderful first year of college. The next afternoon, I set off to visit Lincoln-Sudbury. This little jaunt
was not to drop by my former high school. Rather, the journey on which I embarked was to attend the opening ceremony for the
Lincoln-Sudbury Memorial School, a sister school to our own L-S in the Thmar Kaul district of Battambang, Cambodia.
<br>
<br>
Over the past twenty months, students and community members involved with the Lincoln-Sudbury Memorial School Project have
worked to raise funds to build and maintain a sister school in memory and honor of the students and graduates of L-S who died
before their time. Working alongside American Assistance for Cambodia (AAfC), a prominent nonprofit that has constructed over
500 schools in rural Cambodia since 1999, we passed our initial fundraising goal of $13,000 last June, about the same time as the LS Memorial School finished construction. The school building, which boasts five classrooms furnished with desks, benches,
chalkboards, school supplies, and English-speaking teachers, opened for its 300 high school-aged students on October 1, 2009. This
trip, which sent what I hope will be the first of many contingents from Sudbury’s L-S, was intended to celebrate our partner
school’s existence and to begin to establish relationships between our school communities.
<br>
<br>
So twenty-one long and altitudinous hours after leaving Lincoln’s luscious and temperate verdure, I touched down in Phnom Penh,
the nation’s capital. I stepped off the plane into heat more penetrating than I can describe and met up with Peng Ty, the AAfC
representative assigned to take us around. I also met up with L-S legend Bill Schechter, much-beloved history and journalism
teacher of several decades, and David Barron, a professional photographer, Sudbury resident and L-S alum from 1978.
<br>
<br>
After a day in Phnom Penh spent catching our breath and touring the most important sites, museums, and genocide memorials, we
drove up to Battambang on National Highway 5, Cambodia’s main roadway. A single-lane, startlingly straight thoroughfare, the
highway took us by countless villages and rice fields.
<br>
<br>
The next morning was the opening school ceremony. Something of a misnomer, given that school has been in session for seven
months, the students were nonetheless thrilled to see us as we pulled up to the school complex. The ceremony was so colorful and
joyous. Bill and I both delivered speeches, as did the school principal, the provincial minister of education and sport, and the
district governor. We were blessed by Buddhist monks, listened to the Khmer national anthem sung in unison, and cut a ceremonial
ribbon in front of the school’s main entrance.
<br>
<br>
As the students filed into their classrooms, our L-S contingent went through each room, handing out school supplies and pointing
out Massachusetts and Cambodia on the first world map these children had ever seen. All the kids wanted to take pictures with us,
and though I think my smile broke from the photo ops, I appreciated the chance to meet students and ask them about their lives.
<br>
<br>
We returned the next morning to talk more, and I was supremely relieved to be able to walk into classrooms without receiving a
standing ovation and enthusiastic applause. I spent most of my time with Nary, a cheerful twelfth-grader who plans to attend
university in the fall. Clearly at the top of her class, Nary relished the chance to practice her English, which is her favorite school
subject among Khmer, math, biology, chemistry, and physics. The Cambodians I met were not especially physically affectionate, but
Nary gave me a big hug when we had to part ways.
<br>
<br>
I returned home several days later, mind swimming with ideas, hopes, and plans for our two Lincoln-Sudburys. Amidst effusive
thank-yous in his speech, the school principal noted that the Memorial School could use another two computers; the solar panel
that powers the one we currently have installed can support up to three, and having only one computer for three hundred students is
a ratio that borders on absurdity. One of my hopes for this project is to continue raising money to support and improve our sister
school.
<br>
<br>
In my own speech, I focused on the three goals I have for this project. The first goal, to positively direct the grief of my own
community so as to heal from our losses, is one that is ongoing and can never be fully achieved. The countless letters and emails I
have received to date give me hope that this project is helping that process of healing.
<br>
<br>
My second goal is to help another school community by enhancing opportunities for education. From talking with students and
hearing how appreciative they are to learn in this building, I am confident that we have and can continue to assist our friends at the
school in Thmar Kaul.
<br>
<br>
My third goal is to establish a lasting, sustainable connection between our two school communities, relationships that afford
everyone an opportunity to learn from each other across thousands of miles. I hope students from Lincoln and Sudbury will email
Recommend Be the first of your friends
to recommend this.
with students from Thmar Kaul, and I hope L-S will send groups to visit and volunteer at our sister school in years to come.
<br>
<br>
Cambodia has been through times of unspeakable hell, tragedy beyond what we can comprehend. Some of this suffering came at
the hands of the United States, which dropped more tons of bombs on Cambodia during the Vietnam War era than it did on Japan
in the Second World War. Lincoln-Sudbury has also seen its share of sadness, though I will not pretend our suffering lies on a
comparable scale. Our communities stand to learn so much from each other. It is my sincere hope that L-S in Cambodia will
become a proud and sustained point of contact, and that L-S in Sudbury will develop involvement in Cambodia as a continuing part
of its curriculum and its legacy.
Mira Vale, a student at Yale University, came up with the idea of starting a school in Cambodia and led many fundraising efforts
while a student at Lincoln-Sudbury Regional High
<br>
<br>
<br>
{% endblock %}