{% extends "layout.html" %} {% block body %}
<link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />
<div class="home">
	<h1>Lincoln Sudbury Regional High School Cambodia Memorial</h1>


	<div id="#carousel" class="carousel-wrapper" style="padding-top: 100px">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators ">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for( 'static', filename='img/cambodiaflag.png' ) }} ">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for( 'static', filename='img/community.jpg' ) }} ">
                </div>
                <div class="carousel-item ">
                    <img class="d-block w-100" src="{{ url_for( 'static', filename='img/group.jpg' ) }}">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>

    <div style="text-align:center;padding-top: 100px; "> 
    <iframe src="https://player.vimeo.com/video/16820697?h=28bd6b5c1b " style="border:none;" width="1280 " height="960" allow="autoplay; fullscreen; picture-in-picture " allowfullscreen></iframe>
    </div>


{% endblock %}