{% extends "layout.html" %}

{% block body %}

<style>
  .card {
    border: none;
  }

  .list-group-item {
    border: none;
  }
</style>


<h1>Memorial</h1>
  
	<body>

    <div class = "container-fluid" id = "obit">
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Karl Harvey '20</p>
              <p class = "list-group-item">Eli Pilat '20</p>
              <p class = "list-group-item">Nathan Soukup '20</p>
              <p class = "list-group-item">Christopher Manente '19</p>
              <p class = "list-group-item">Brett Kachura '18</p>
              <p class = "list-group-item">Henry Huntley '15</p>
              <p class = "list-group-item">Joe Kenney '13</p>
              <p class = "list-group-item">Dawson Rutter III '13</p>
              <p class = "list-group-item">Marquis Simmons '13</p></p>
              <p class = "list-group-item">William Cadogan '12</p>
              <p class = "list-group-item">James Jhun '12</p>
              <p class = "list-group-item">Leia Lanza '11</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Itsvan Moritz '11</p>
              <p class = "list-group-item">James Alenson '10</p>
              <p class = "list-group-item">Derek Azzolino '10</p>
              <p class = "list-group-item">Jacki Bramberg '10</p>
              <p class = "list-group-item">Tyler Cyr '10</p>
              <p class = "list-group-item">Emma Franchek '10</p>
              <p class = "list-group-item">Nivela Hassan '10</p>
              <p class = "list-group-item">Daniel Sawyer '10</p>
              <p class = "list-group-item">Malcolm Sledge '10</p>
              <p class = "list-group-item">Robert Stuckey '10</p>
              <p class = "list-group-item">Max Haberman '09</p>
              <p class = "list-group-item">Jeff Hennessey '09</p>
            </ul>
          </div>
        </div> 
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Jeffrey Montaque '09</p>
            </ul>
          </div>
        </div>
      </div>
    </div> 



<!--Karl Harvey '20
Eli Pilat '20
Nathan Soukup '20
Christopher Manente '19
Brett Kachura '18
Henry Huntley '15
Joe Kenney '13
Dawson Rutter III '13
Marquis Simmons '13
William Cadogan '12
James Jhun '12
Leia Lanza '11
Itsvan Moritz '11
James Alenson '10
Derek Azzolino '10
Jacki Bramberg '10
Tyler Cyr '10
Emma Franchek '10
Nivela Hassan '10
Daniel Sawyer '10
Malcolm Sledge '10
Robert Stuckey '10
Max Haberman '09
Jeff Hennessey '09
Jeffrey Montaque '09-->
Christopher Stranberg '09
Amy Cui  '08
Mark Hamilton '08
Eric Parker '07
Karl Nyangoni '07
Michael Ronner '07
Gianna Stewart '07
Michael Hamill Jr. '06
Ben Haldband '06
Lily Diana Karian '06
Jeffrey Link '06
Michael Schneider '06
Brian Gershon, '05
John McMann '05
Scott Milley '05
Michael Albano '04
Shaun Lampila '04
Sean Parker '04
Michael Reubin '04
Nicholas Dimancescu '03
Steven Richard '03
Joe Wilson '03
Sam Zebian '03
Christopher Landford '02
Edward Lingley, '02
Keith Orzech '02
Haven Quinn '02
Anthony (TJ) Baudanza '01
Derick Beverly '01
Matt Zito '01
Andrew Narcus '00
Donald St. Laurent '00
Daryl Morton '00  
Matthew Bardsley '99
Eric Drobinski '99
Thomas Lueders '99
Lisa Grasso '99
Alexcia Shields '99
Dan Ziegler '99
Kerri Boyd '98
Daniel Fisher '98
Tarek Mroue '98
Courtney Seymour '98
Kerri Tellis '98
Emily Kearney '97
Graham Grindlay '96
Chey Jones '96
Steven Andrew Larkin '96
Peter Rhome '96
Rebecca E. Shaw '96
Heather Centauro '95
James Cordy '95
Devin Hegarty  '95
Jessica Peterson '95
Steven Lloyd Roundy '95
Suzanne Shallah '95
Cheri-Anne Cavanaugh '94
Michael Harney, '94
Danielle Shallah '94
Bill Stanton '94
Joe Thompson '94
Kate Andrews '93
Brian Haughey '93
Melissa Marshall '93
Ronald Nix '93
Ambica Ramichandra '93
Bob Bryant '92
Brett Cala '92
Brendon Collins '92
Holly Fischer '92
Adam Goldsmith '92
Brendon Murphy '92
Page Ruddy '92
Matt Sah '92
Sara Sherman '92
Bevin Smith '92
Lynne Brackett   '91
Jack McGuire Jr. '91
Maura Jean Murphy '91

Hillary Shedd  '91
Brian Sykes '91
Karen Beaudette '90
Bryan Albee '89
Mark Avila '89
Keri-Lynn Gleason '89
Christopher Hays '89
Nicole Koehler '89
Roman Meshon  '89
Craig Putnam '89
Peter Stuart '89
Nancy Anton '88
Jennifer Floyd '88
Pamela Friedman '88
Nader Gheith '88
Carl Lagrassa '88
Christopher Oldham '88
Rita Raju '88
Terry Thoman '88
Denny Tong '88
Stephen Wilkinson '88
Morgan Gaines '87
Greg MacDonald '87
David Myers '87
Jim Ottenstein '87
Suzanne Riley '87
Tiffani Roberts '87
Stephen N. Cohen '86
Renee Cole '86
Ann Connelly '86
Scott Gomes '86
Michael Phalen  '86
Karen Segien '86
Sean Washington '86
Paula Danforth '85
Suzanne Melley '85
William Munroe '85
Terrence Patterson '85
Karen Segien '85
Timothy Stewart '85
Frank Kalwell '84
Paul Krog '84  
Al Palmer '84
Edward Schiller '84
Christine Wilkins '84
Jennifer Wynn '84
Geoff Cloud  '83
Daniel Delaney '83
Peter Hinlein '83
Matt Holland '83
Brian Low '83
Donny McInnis '83
Michael Moles '83
George Pollock '83
David Segien '83
John Wirzburger '83
David Wright ‘83
Stephen Basile ‘82
Connie Crittenden '82
Michael Daley '82
Christine Fredella '82
William McCart ‘82
Glen Marrone ‘82
Paul Miller '82
Virginia Nixon '82
Paula Scholfield '82
Paul Zarrilli ‘82
Cindy Cabral ‘81
Douglas Chase '81
Martha Crocker '81
Donnalee Doyle '81
Marcy Fucillo ‘81
Roger Hadley '81
David Holland '81
Ravi S. Hoskere '81
Chris Kassner '81
Eileen Kelly '81
Donna Larson '81
Keith McKnight '81
Jody Mohlar '81
Stephen Murphy '81
Caitlin Owen '81
Mark Pianka '81
Doug Wright ’81
Dana Caper '80
Tim Delaney '80
Lydia Gillis '80
Diana Golden '80
Beth Heppenstall  '80
David Mlavsky '80
David Murphy '80
Kenny O'Donnell '80
Jenifer Thomas '80
Deborah Rosewell '80
Gregory Schnieder '80
Charles Werner '80
Natalie Aufieri '79
Chris Calandrella '79
Kevin Darcy '79
Lisa Lyon '79
Judy McKnight '79
Wayne Middleton '79
Connie Putnam '79
Charles Reade '79
Elizabeth Smith '79
William Spang '79
Peter Spock '79
Craig Babick ’78
Judy Belfrey '78
Barbara A. Bowen '78
Fredricka Breen '78
Kim Comstock '77
Lori Delaney '78
Karen Driscoll '78
Eric Gupton '78
David Hoch '78
Richard Horowitz '78
Karl Ingard '78
James McIntyre '78
Jeanne McNabb '72
Karen Mooney '78
Lawrence Nelson ‘78
Charles Newcomb '78
Kathy Ryan '78
Linda Scheurer '78
Thomas J. Zondiros '78
Mark Day '77
Richard Dreher '77
Florence Edwards '77
David Gillespie '77
Mark Hannon '77
Arthur Hildreth '77
Maryellen Lee '77
Carol Mailhot '77
John Malone  '77
Maureen Morrissey '77
Thomas Mulcahy '77
Susan Petit '77
Stephen Porter '77
Ellen Ross '77
Neal Russell '77
Linda Scheuer '77
John G. Wilson Jr. '77
Mark Baldelli '76
Art Beaubien '76
Dean Burland '76
Cathy Casner '76
Zami Comstock '76
Thomas Hammond '76
Pat Irvin '76
Maureen Morrissey  '76
Burr Nelson '76  
Becky Roberts '76
Alan D. Secatore '76
Neil Souder '76
John Varriale '76
Paul Weiss '76
Michael Zeller '76
Fredi Barron '75
Greg Cannon '75
Robert Davis '75
Peter Ehrenfeld '75
David Fennell '75
Annie Gillespie '75
Mark Irby '75
Jeff Johnson  '75
Kenneth Keyes '75
Mark Malone '75
Kyle Petersen '75
Michasel Rosenheim '75
Susan Seaman '75
Alan Shansky '75
Janet Walton '75
Paul Zygala '75
Abby Atchley '74
Lincoln Bent '74
Maureen Cook '74
Gregg Faddoul '74
David Gallerani  '74
John Gotschall '74
Richard Jevon '74
Jim McKnight '74  
Deborah McLeod '74
John Lafler '74
David C. Owen '74
Richard Panetta '74
Brian Peavey '74
Gary Reid '74
Alex Saraglow '74  
William Seaman '74
Michael Atchue  '73
Patricia Boyd '73
Sue Caia '73
Fred Ciampi '73
Abigail Flint '73
Paul Johnson '73
Chris Kerrebrock '73
Karl Leidy '73
Chris Kerrebrock '73
Karl Leidy '73
Ramona Lucero '73
Robert Malloy '73
Angela Massa '73
Eddie McCabe '73
George McGovern '73
Brenda Rando '73
Mark Reich '7
Irving Ring '73 3
Richard Sewell '73
Mark Spreen '73
Greg Stephan '73
Ralph Truesdale '73
Henry Daniels '72
Reed Cooper '72
James DeGraeve '72
Guy Dietrich '72
Kent Forbes '72
David Gardner '72
Cornell Grasty '72
Richard Hilton '72
Susan Housman '72
Joseph Kelly '72
Sharon Kelly '72
Amy Kropp '72
Lorene Larhette '72
James Mariner '72
Dana Marrone '72
Alicia Martinelli '72
Glenn Olsen '72
Jeff Pillion  '72
Salvatore Panetta '72
Mark Redman '72
David Reid '72
Shari Roth '72
Daniel Ryan '72 
Eugene Verbryke '72
Michael Wentworth  '72  
Newton DeNormandie '71
Mark Gould '71
Steve Holland '71
Rory McCullough '71
Michael Moulton '71
Ivy O'Brien '71
Leslie Shansky '71
Mark Moynihan  '70
Bruce R. Allain  '69
Andrea Cain '69
Martha Clough '69
David L.Cooper '69
Roxanne M. Davis '69
Gale Edwards '69
Gilbert W Fullerton '69
Diane L. Gianetti '69
Robert T. Hatfield '69
Patricia E. Ide '69
Richard W. Johansen '69
Alan P. Leger '69
Claudia E. Manfredi '69
Brooke Miller '69
Charles F. O' Brien '69
Marc Reid '69
Karen E. St. Croix '69
Sharon E. Tjaden '69
Jan Warner '69
Robert J. Westcott '69
Guilbert D. Winchell '69
William W. Winter Jr. '69
Bruce Dedarrien  '68 
Alan Dempster '68
Tim Moir '68
Paul Poor '68
Shirley O'Brien '68
Christopher White '68
Robert J. Shaffner Jr. '67
Janet Chisholm '66
Leslie Rose Leone '66
Larry P. Huhtamaki '65
James Fry '64
Carol Clippinger '59
Becky Dodge '59
Rusell Doherty '59
Jackie Seeckts '59
Danny Styron '59
  </body>
{% endblock %}