{% extends "layout.html" %}

{% block body %}

<style>
  .card {
    border: none;
  }

  .list-group-item {
    border: none;
  }


  .hidden_names {
    display: none;
  }
</style>






<h1>Memorial</h1>
  
	<body>

    <div class = "container-fluid" id = "obit">
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Karl Harvey '20</p>
              <p class = "list-group-item">Eli Pilat '20</p>
              <p class = "list-group-item">Nathan Soukup '20</p>
              <p class = "list-group-item">Christopher Manente '19</p>
              <p class = "list-group-item">Brett Kachura '18</p>
              <p class = "list-group-item">Henry Huntley '15</p>
              <p class = "list-group-item">Joe Kenney '13</p>
              <p class = "list-group-item">Dawson Rutter III '13</p>
              <p class = "list-group-item">Marquis Simmons '13</p></p>
              <p class = "list-group-item">William Cadogan '12</p>
              <p class = "list-group-item">James Jhun '12</p>
              <p class = "list-group-item">Leia Lanza '11</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Itsvan Moritz '11</p>
              <p class = "list-group-item">James Alenson '10</p>
              <p class = "list-group-item">Derek Azzolino '10</p>
              <p class = "list-group-item">Jacki Bramberg '10</p>
              <p class = "list-group-item">Tyler Cyr '10</p>
              <p class = "list-group-item">Emma Franchek '10</p>
              <p class = "list-group-item">Nivela Hassan '10</p>
              <p class = "list-group-item">Daniel Sawyer '10</p>
              <p class = "list-group-item">Malcolm Sledge '10</p>
              <p class = "list-group-item">Robert Stuckey '10</p>
              <p class = "list-group-item">Max Haberman '09</p>
              <p class = "list-group-item">Jeff Hennessey '09</p>
            </ul>
          </div>
        </div> 
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Jeffrey Montaque '09</p>
              <p class = "list-group-item">Christopher Stranberg '09</p>
              <p class = "list-group-item">Amy Cui  '08</p>
              <p class = "list-group-item">Mark Hamilton '08</p>
              <p class = "list-group-item">Eric Parker '07</p>
              <p class = "list-group-item">Karl Nyangoni '07</p>
              <p class = "list-group-item">Michael Ronner '07</p>
              <p class = "list-group-item">Gianna Stewart '07</p>
              <p class = "list-group-item">Michael Hamill Jr. '06</p>
              <p class = "list-group-item">Ben Haldband '06</p>
              <p class = "list-group-item">Lily Diana Karian '06</p>
              <p class = "list-group-item">Jeffrey Link '06</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Michael Schneider '06</p>
              <p class = "list-group-item">Brian Gershon, '05</p>
              <p class = "list-group-item">John McMann '05</p>
              <p class = "list-group-item">Scott Milley '05</p>
              <p class = "list-group-item">Michael Albano '04</p>
              <p class = "list-group-item">Shaun Lampila '04</p>
              <p class = "list-group-item">Sean Parker '04</p>
              <p class = "list-group-item">Michael Reubin '04</p>
              <p class = "list-group-item">Nicholas Dimancescu '03</p>
              <p class = "list-group-item">Steven Richard '03</p>
              <p class = "list-group-item">Joe Wilson '03</p>
              <p class = "list-group-item">Sam Zebian '03</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Christopher Landford '02</p>
              <p class = "list-group-item">Edward Lingley, '02</p>
              <p class = "list-group-item">Keith Orzech '02</p>
              <p class = "list-group-item">Haven Quinn '02</p>
              <p class = "list-group-item">Anthony (TJ) Baudanza '01</p>
              <p class = "list-group-item">Derick Beverly '01</p>
              <p class = "list-group-item">Matt Zito '01</p>
              <p class = "list-group-item">Andrew Narcus '00</p>
              <p class = "list-group-item">Donald St. Laurent '00</p>
              <p class = "list-group-item">Daryl Morton '00  </p>
              <p class = "list-group-item">Matthew Bardsley '99</p>
              <p class = "list-group-item">Eric Drobinski '99</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Thomas Lueders '99</p>
              <p class = "list-group-item">Lisa Grasso '99</p>
              <p class = "list-group-item">Alexcia Shields '99</p>
              <p class = "list-group-item">Dan Ziegler '99</p>
              <p class = "list-group-item">Kerri Boyd '98</p>
              <p class = "list-group-item">Daniel Fisher '98</p>
              <p class = "list-group-item">Tarek Mroue '98</p>
              <p class = "list-group-item">Courtney Seymour '98</p>
              <p class = "list-group-item">Kerri Tellis '98</p>
              <p class = "list-group-item">Emily Kearney '97</p>
              <p class = "list-group-item">Graham Grindlay '96</p>
              <p class = "list-group-item">Chey Jones '96</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Steven Andrew Larkin '96</p>
              <p class = "list-group-item">Peter Rhome '96</p>
              <p class = "list-group-item">Rebecca E. Shaw '96</p>
              <p class = "list-group-item">Heather Centauro '95</p>
              <p class = "list-group-item">James Cordy '95</p>
              <p class = "list-group-item">Devin Hegarty  '95</p>
              <p class = "list-group-item">Jessica Peterson '95</p>
              <p class = "list-group-item">Steven Lloyd Roundy '95</p>
              <p class = "list-group-item">Suzanne Shallah '95</p>
              <p class = "list-group-item">Cheri-Anne Cavanaugh '94</p>
              <p class = "list-group-item">Michael Harney, '94</p>
              <p class = "list-group-item">Danielle Shallah '94</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Bill Stanton '94</p>
              <p class = "list-group-item">Joe Thompson '94</p>
              <p class = "list-group-item">Kate Andrews '93</p>
              <p class = "list-group-item">Brian Haughey '93</p>
              <p class = "list-group-item">Melissa Marshall '93</p>
              <p class = "list-group-item">Ronald Nix '93</p>
              <p class = "list-group-item">Ambica Ramichandra '93</p>
              <p class = "list-group-item">Bob Bryant '92</p>
              <p class = "list-group-item">Brett Cala '92</p>
              <p class = "list-group-item">Brendon Collins '92</p>
              <p class = "list-group-item">Holly Fischer '92</p>
              <p class = "list-group-item">Adam Goldsmith '92</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Brendon Murphy '92</p>
              <p class = "list-group-item">Page Ruddy '92</p>
              <p class = "list-group-item">Matt Sah '92</p>
              <p class = "list-group-item">Sara Sherman '92</p>
              <p class = "list-group-item">Bevin Smith '92</p>
              <p class = "list-group-item">Lynne Brackett '91</p>
              <p class = "list-group-item">Jack McGuire Jr. '91</p>
              <p class = "list-group-item">Maura Jean Murphy '91</p>
              <p class = "list-group-item">Hillary Shedd  '91</p>
              <p class = "list-group-item">Brian Sykes '91</p>
              <p class = "list-group-item">Karen Beaudette '90</p>
              <p class = "list-group-item">Bryan Albee '89</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Mark Avila '89</p>
              <p class = "list-group-item">Keri-Lynn Gleason '89</p>
              <p class = "list-group-item">Christopher Hays '89</p>
              <p class = "list-group-item">Nicole Koehler '89</p>
              <p class = "list-group-item">Roman Meshon  '89</p>
              <p class = "list-group-item">Craig Putnam '89</p>
              <p class = "list-group-item">Peter Stuart '89</p>
              <p class = "list-group-item">Nancy Anton '88</p>
              <p class = "list-group-item">Jennifer Floyd '88</p>
              <p class = "list-group-item">Pamela Friedman '88</p>
              <p class = "list-group-item">Nader Gheith '88</p>
              <p class = "list-group-item">Carl Lagrassa '88</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Christopher Oldham '88</p>
              <p class = "list-group-item">Rita Raju '88</p>
              <p class = "list-group-item">Terry Thoman '88</p>
              <p class = "list-group-item">Denny Tong '88</p>
              <p class = "list-group-item">Stephen Wilkinson '88</p>
              <p class = "list-group-item">Morgan Gaines '87</p>
              <p class = "list-group-item">Greg MacDonald '87</p>
              <p class = "list-group-item">David Myers '87</p>
              <p class = "list-group-item">Jim Ottenstein '87</p>
              <p class = "list-group-item">Suzanne Riley '87</p>
              <p class = "list-group-item">Tiffani Roberts '87</p>
              <p class = "list-group-item">Stephen N. Cohen '86</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Renee Cole '86</p>
              <p class = "list-group-item">Ann Connelly '86</p>
              <p class = "list-group-item">Scott Gomes '86</p>
              <p class = "list-group-item">Michael Phalen  '86</p>
              <p class = "list-group-item">Karen Segien '86</p>
              <p class = "list-group-item">Sean Washington '86</p>
              <p class = "list-group-item">Paula Danforth '85</p>
              <p class = "list-group-item">Suzanne Melley '85</p>
              <p class = "list-group-item">William Munroe '85</p>
              <p class = "list-group-item">Terrence Patterson '85</p>
              <p class = "list-group-item">Karen Segien '85</p>
              <p class = "list-group-item">Timothy Stewart '85</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Frank Kalwell '84</p>
              <p class = "list-group-item">Paul Krog '84</p>
              <p class = "list-group-item">Al Palmer '84</p>
              <p class = "list-group-item">Edward Schiller '84</p>
              <p class = "list-group-item">Christine Wilkins '84</p>
              <p class = "list-group-item">Jennifer Wynn '84</p>
              <p class = "list-group-item">Geoff Cloud  '83</p>
              <p class = "list-group-item">Daniel Delaney '83</p>
              <p class = "list-group-item">Peter Hinlein '83</p>
              <p class = "list-group-item">Matt Holland '83</p>
              <p class = "list-group-item">Brian Low '83</p>
              <p class = "list-group-item">Donny McInnis '83</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Michael Moles '83</p>
              <p class = "list-group-item">George Pollock '83</p>
              <p class = "list-group-item">David Segien '83</p>
              <p class = "list-group-item">John Wirzburger '83</p>
              <p class = "list-group-item">David Wright ‘83</p>
              <p class = "list-group-item">Stephen Basile ‘82</p>
              <p class = "list-group-item">Connie Crittenden '82</p>
              <p class = "list-group-item">Michael Daley '82</p>
              <p class = "list-group-item">Christine Fredella '82</p>
              <p class = "list-group-item">William McCart ‘82</p>
              <p class = "list-group-item">Glen Marrone ‘82</p>
              <p class = "list-group-item">Paul Miller '82</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Virginia Nixon '82</p>
              <p class = "list-group-item">Paula Scholfield '82</p>
              <p class = "list-group-item">Paul Zarrilli ‘82</p>
              <p class = "list-group-item">Cindy Cabral ‘81</p>
              <p class = "list-group-item">Douglas Chase '81</p>
              <p class = "list-group-item">Martha Crocker '81</p>
              <p class = "list-group-item">Donnalee Doyle '81</p>
              <p class = "list-group-item">Marcy Fucillo ‘81</p>
              <p class = "list-group-item">Roger Hadley '81</p>
              <p class = "list-group-item">David Holland '81</p>
              <p class = "list-group-item">Ravi S. Hoskere '81</p>
              <p class = "list-group-item">Chris Kassner '81</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Eileen Kelly '81</p>
              <p class = "list-group-item">Donna Larson '81</p>
              <p class = "list-group-item">Keith McKnight '81</p>
              <p class = "list-group-item">Jody Mohlar '81</p>
              <p class = "list-group-item">Stephen Murphy '81</p>
              <p class = "list-group-item">Caitlin Owen '81</p>
              <p class = "list-group-item">Mark Pianka '81</p>
              <p class = "list-group-item">Doug Wright ’81</p>
              <p class = "list-group-item">Dana Caper '80</p>
              <p class = "list-group-item">Tim Delaney '80</p>
              <p class = "list-group-item">Lydia Gillis '80</p>
              <p class = "list-group-item">Diana Golden '80</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Beth Heppenstall '80</p>
              <p class = "list-group-item">David Mlavsky '80</p>
              <p class = "list-group-item">David Murphy '80</p>
              <p class = "list-group-item">Kenny O'Donnell '80</p>
              <p class = "list-group-item">Jenifer Thomas '80</p>
              <p class = "list-group-item">Deborah Rosewell '80</p>
              <p class = "list-group-item">Gregory Schnieder '80</p>
              <p class = "list-group-item">Charles Werner '80</p>
              <p class = "list-group-item">Natalie Aufieri '79</p>
              <p class = "list-group-item">Chris Calandrella '79</p>
              <p class = "list-group-item">Kevin Darcy '79</p>
              <p class = "list-group-item">Lisa Lyon '79</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Judy McKnight '79</p>
              <p class = "list-group-item">Wayne Middleton '79</p>
              <p class = "list-group-item">Connie Putnam '79</p>
              <p class = "list-group-item">Charles Reade '79</p>
              <p class = "list-group-item">Elizabeth Smith '79</p>
              <p class = "list-group-item">William Spang '79</p>
              <p class = "list-group-item">Peter Spock '79</p>
              <p class = "list-group-item">Craig Babick ’78</p>
              <p class = "list-group-item">Judy Belfrey '78</p>
              <p class = "list-group-item">Barbara A. Bowen '78</p>
              <p class = "list-group-item">Fredricka Breen '78</p>
              <p class = "list-group-item">Kim Comstock '77</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Lori Delaney '78</p>
              <p class = "list-group-item">Karen Driscoll '78</p>
              <p class = "list-group-item">Eric Gupton '78</p>
              <p class = "list-group-item">David Hoch '78</p>
              <p class = "list-group-item">Richard Horowitz '78</p>
              <p class = "list-group-item">Karl Ingard '78</p>
              <p class = "list-group-item">James McIntyre '78</p>
              <p class = "list-group-item">Jeanne McNabb '72</p>
              <p class = "list-group-item">Karen Mooney '78</p>
              <p class = "list-group-item">Lawrence Nelson ‘78</p>
              <p class = "list-group-item">Charles Newcomb '78</p>
              <p class = "list-group-item">Kathy Ryan '78</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Linda Scheurer '78</p>
              <p class = "list-group-item">Thomas J. Zondiros '78</p>
              <p class = "list-group-item">Mark Day '77</p>
              <p class = "list-group-item">Richard Dreher '77</p>
              <p class = "list-group-item">Florence Edwards '77</p>
              <p class = "list-group-item">David Gillespie '77</p>
              <p class = "list-group-item">Mark Hannon '77</p>
              <p class = "list-group-item">Arthur Hildreth '77</p>
              <p class = "list-group-item">Maryellen Lee '77</p>
              <p class = "list-group-item">Carol Mailhot '77</p>
              <p class = "list-group-item">John Malone  '77</p>
              <p class = "list-group-item">Maureen Morrissey '77</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Thomas Mulcahy '77</p>
              <p class = "list-group-item">Susan Petit '77</p>
              <p class = "list-group-item">Stephen Porter '77</p>
              <p class = "list-group-item">Ellen Ross '77</p>
              <p class = "list-group-item">Neal Russell '77</p>
              <p class = "list-group-item">Linda Scheuer '77</p>
              <p class = "list-group-item">John G. Wilson Jr. '77</p>
              <p class = "list-group-item">Mark Baldelli '76</p>
              <p class = "list-group-item">Art Beaubien '76</p>
              <p class = "list-group-item">Dean Burland '76</p>
              <p class = "list-group-item">Cathy Casner '76</p>
              <p class = "list-group-item">Zami Comstock '76</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Thomas Hammond '76</p>
              <p class = "list-group-item">Pat Irvin '76</p>
              <p class = "list-group-item">Maureen Morrissey '76</p>
              <p class = "list-group-item">Burr Nelson '76  </p>
              <p class = "list-group-item">Becky Roberts '76</p>
              <p class = "list-group-item">Alan D. Secatore '76</p>
              <p class = "list-group-item">Neil Souder '76</p>
              <p class = "list-group-item">John Varriale '76</p>
              <p class = "list-group-item">Paul Weiss '76</p>
              <p class = "list-group-item">Michael Zeller '76</p>
              <p class = "list-group-item">Fredi Barron '75</p>
              <p class = "list-group-item">Greg Cannon '75</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Robert Davis '75</p>
              <p class = "list-group-item">Peter Ehrenfeld '75</p>
              <p class = "list-group-item">David Fennell '75</p>
              <p class = "list-group-item">Annie Gillespie '75</p>
              <p class = "list-group-item">Mark Irby '75</p>
              <p class = "list-group-item">Jeff Johnson  '75</p>
              <p class = "list-group-item">Kenneth Keyes '75</p>
              <p class = "list-group-item">Mark Malone '75</p>
              <p class = "list-group-item">Kyle Petersen '75</p>
              <p class = "list-group-item">Michasel Rosenheim '75</p>
              <p class = "list-group-item">Susan Seaman '75</p>
              <p class = "list-group-item">Alan Shansky '75</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Janet Walton '75</p>
              <p class = "list-group-item">Paul Zygala '75</p>
              <p class = "list-group-item">Abby Atchley '74</p>
              <p class = "list-group-item">Lincoln Bent '74</p>
              <p class = "list-group-item">Maureen Cook '74</p>
              <p class = "list-group-item">Gregg Faddoul '74</p>
              <p class = "list-group-item">David Gallerani  '74</p>
              <p class = "list-group-item">John Gotschall '74</p>
              <p class = "list-group-item">Richard Jevon '74</p>
              <p class = "list-group-item">Jim McKnight '74  </p>
              <p class = "list-group-item">Deborah McLeod '74</p>
              <p class = "list-group-item">John Lafler '74</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">David C. Owen '74</p>
              <p class = "list-group-item">Richard Panetta '74</p>
              <p class = "list-group-item">Brian Peavey '74</p>
              <p class = "list-group-item">Gary Reid '74</p>
              <p class = "list-group-item">Alex Saraglow '74  </p>
              <p class = "list-group-item">William Seaman '74</p>
              <p class = "list-group-item">Michael Atchue  '73</p>
              <p class = "list-group-item">Patricia Boyd '73</p>
              <p class = "list-group-item">Sue Caia '73</p>
              <p class = "list-group-item">Fred Ciampi '73</p>
              <p class = "list-group-item">Abigail Flint '73</p>
              <p class = "list-group-item">Paul Johnson '73</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Chris Kerrebrock '73</p>
              <p class = "list-group-item">Karl Leidy '73</p>
              <p class = "list-group-item">Chris Kerrebrock '73</p>
              <p class = "list-group-item">Karl Leidy '73</p>
              <p class = "list-group-item">Ramona Lucero '73</p>
              <p class = "list-group-item">Robert Malloy '73</p>
              <p class = "list-group-item">Angela Massa '73</p>
              <p class = "list-group-item">Eddie McCabe '73</p>
              <p class = "list-group-item">George McGovern '73</p>
              <p class = "list-group-item">Brenda Rando '73</p>
              <p class = "list-group-item">Mark Reich '73</p>
              <p class = "list-group-item">Irving Ring '73</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Richard Sewell '73</p>
              <p class = "list-group-item">Mark Spreen '73</p>
              <p class = "list-group-item">Greg Stephan '73</p>
              <p class = "list-group-item">Ralph Truesdale '73</p>
              <p class = "list-group-item">Henry Daniels '72</p>
              <p class = "list-group-item">Reed Cooper '72</p>
              <p class = "list-group-item">James DeGraeve '72</p>
              <p class = "list-group-item">Guy Dietrich '72</p>
              <p class = "list-group-item">Kent Forbes '72</p>
              <p class = "list-group-item">David Gardner '72</p>
              <p class = "list-group-item">Cornell Grasty '72</p>
              <p class = "list-group-item">Richard Hilton '72</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Susan Housman '72</p>
              <p class = "list-group-item">Joseph Kelly '72</p>
              <p class = "list-group-item">Sharon Kelly '72</p>
              <p class = "list-group-item">Amy Kropp '72</p>
              <p class = "list-group-item">Lorene Larhette '72</p>
              <p class = "list-group-item">James Mariner '72</p>
              <p class = "list-group-item">Dana Marrone '72</p>
              <p class = "list-group-item">Alicia Martinelli '72</p>
              <p class = "list-group-item">Glenn Olsen '72</p>
              <p class = "list-group-item">Jeff Pillion  '72</p>
              <p class = "list-group-item">Salvatore Panetta '72</p>
              <p class = "list-group-item">Mark Redman '72</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">David Reid '72</p>
              <p class = "list-group-item">Shari Roth '72</p>
              <p class = "list-group-item">Daniel Ryan '72 </p>
              <p class = "list-group-item">Eugene Verbryke '72</p>
              <p class = "list-group-item">Michael Wentworth  '72</p>
              <p class = "list-group-item">Newton DeNormandie '71</p>
              <p class = "list-group-item">Mark Gould '71</p>
              <p class = "list-group-item">Steve Holland '71</p>
              <p class = "list-group-item">Rory McCullough '71</p>
              <p class = "list-group-item">Michael Moulton '71</p>
              <p class = "list-group-item">Ivy O'Brien '71</p>
              <p class = "list-group-item">Leslie Shansky '71</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Mark Moynihan '70</p>
              <p class = "list-group-item">Bruce R. Allain '69</p>
              <p class = "list-group-item">Andrea Cain '69</p>
              <p class = "list-group-item">Martha Clough '69</p>
              <p class = "list-group-item">David L.Cooper '69</p>
              <p class = "list-group-item">Roxanne M. Davis '69</p>
              <p class = "list-group-item">Gale Edwards '69</p>
              <p class = "list-group-item">Gilbert W Fullerton '69</p>
              <p class = "list-group-item">Diane L. Gianetti '69</p>
              <p class = "list-group-item">Robert T. Hatfield '69</p>
              <p class = "list-group-item">Patricia E. Ide '69</p>
              <p class = "list-group-item">Richard W. Johansen '69</p>
            </ul>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Alan P. Leger '69</p>
              <p class = "list-group-item">Claudia E. Manfredi '69</p>
              <p class = "list-group-item">Brooke Miller '69</p>
              <p class = "list-group-item">Charles F. O' Brien '69</p>
              <p class = "list-group-item">Marc Reid '69</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Karen E. St. Croix '69</p>
              <p class = "list-group-item">Sharon E. Tjaden '69</p>
              <p class = "list-group-item">Jan Warner '69</p>
              <p class = "list-group-item">Robert J. Westcott '69</p>
              <p class = "list-group-item">Guilbert D. Winchell '69</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">William W. Winter Jr. '69</p>
              <p class = "list-group-item">Bruce Dedarrien  '68 </p>
              <p class = "list-group-item">Alan Dempster '68</p>
              <p class = "list-group-item">Tim Moir '68</p>
              <p class = "list-group-item">Paul Poor '68</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">Shirley O'Brien '68</p>
              <p class = "list-group-item">Christopher White '68</p>
              <p class = "list-group-item">Robert J. Shaffner Jr. '67</p>
              <p class = "list-group-item">Janet Chisholm '66</p>
              <p class = "list-group-item">Leslie Rose Leone '66</p>
              <p class = "list-group-item">Larry P. Huhtamaki '65</p>
            </ul>
          </div>
        </div>
        <div class = "col">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <p class = "list-group-item">James Fry '64</p>
              <p class = "list-group-item">Carol Clippinger '59</p>
              <p class = "list-group-item">Becky Dodge '59</p>
              <p class = "list-group-item">Rusell Doherty '59 </p>
              <p class = "list-group-item">Jackie Seeckts '59 </p>
              <p class = "list-group-item">Danny Styron '59</p>
            </ul>
          </div>
        </div>
      </div>
    </div> 




<p class = "hidden_names" id = "hidden_names">
Karl Harvey '20 <br>
Eli Pilat '20 <br>
Nathan Soukup '20<br>
Christopher Manente '19<br>
Brett Kachura '18<br>
Henry Huntley '15<br>
Joe Kenney '13<br>
Dawson Rutter III '13<br>
Marquis Simmons '13<br>
William Cadogan '12<br>
James Jhun '12<br>
Leia Lanza '11<br>
Itsvan Moritz '11<br>
James Alenson '10<br>
Derek Azzolino '10<br>
Jacki Bramberg '10<br>
Tyler Cyr '10<br>
Emma Franchek '10<br>
Nivela Hassan '10<br>
Daniel Sawyer '10<br>
Malcolm Sledge '10<br>
Robert Stuckey '10<br>
Max Haberman '09<br>
Jeff Hennessey '09<br>
Jeffrey Montaque '09<br>

Christopher Stranberg '09<br>
Amy Cui  '08<br>
Mark Hamilton '08<br>
Eric Parker '07<br>
Karl Nyangoni '07<br>
Michael Ronner '07<br>
Gianna Stewart '07<br>
Michael Hamill Jr. '06<br>
Ben Haldband '06<br>
Lily Diana Karian '06<br>
Jeffrey Link '06<br>
Michael Schneider '06<br>
Brian Gershon, '05<br>
John McMann '05<br>
Scott Milley '05<br>
Michael Albano '04<br>
Shaun Lampila '04<br>
Sean Parker '04<br>
Michael Reubin '04<br>
Nicholas Dimancescu '03<br>
Steven Richard '03<br>
Joe Wilson '03<br>
Sam Zebian '03<br>
Christopher Landford '02<br>
Edward Lingley, '02<br>
Keith Orzech '02<br>
Haven Quinn '02<br>
Anthony (TJ) Baudanza '01<br>
Derick Beverly '01<br>
Matt Zito '01<br>
Andrew Narcus '00<br>
Donald St. Laurent '00<br>
Daryl Morton '00  <br>
Matthew Bardsley '99<br>
Eric Drobinski '99<br>

Thomas Lueders '99<br>
Lisa Grasso '99<br>
Alexcia Shields '99<br>
Dan Ziegler '99<br>
Kerri Boyd '98<br>
Daniel Fisher '98<br>
Tarek Mroue '98<br>
Courtney Seymour '98<br>
Kerri Tellis '98<br>
Emily Kearney '97<br>
Graham Grindlay '96<br>
Chey Jones '96<br>

Steven Andrew Larkin '96<br>
Peter Rhome '96<br>
Rebecca E. Shaw '96<br>
Heather Centauro '95<br>
James Cordy '95<br>
Devin Hegarty  '95<br>
Jessica Peterson '95<br>
Steven Lloyd Roundy '95<br>
Suzanne Shallah '95<br>
Cheri-Anne Cavanaugh '94<br>
Michael Harney, '94<br>
Danielle Shallah '94<br>

Bill Stanton '94<br>
Joe Thompson '94<br>
Kate Andrews '93<br>
Brian Haughey '93<br>
Melissa Marshall '93<br>
Ronald Nix '93<br>
Ambica Ramichandra '93<br>
Bob Bryant '92<br>
Brett Cala '92<br>
Brendon Collins '92<br>
Holly Fischer '92<br>
Adam Goldsmith '92<br>

Brendon Murphy '92<br>
Page Ruddy '92<br>
Matt Sah '92<br>
Sara Sherman '92<br>
Bevin Smith '92<br>
Lynne Brackett   '91<br>
Jack McGuire Jr. '91<br>
Maura Jean Murphy '91<br>
Hillary Shedd  '91<br>
Brian Sykes '91<br>
Karen Beaudette '90<br>
Bryan Albee '89<br>

Mark Avila '89<br>
Keri-Lynn Gleason '89<br>
Christopher Hays '89<br>
Nicole Koehler '89<br>
Roman Meshon  '89<br>
Craig Putnam '89<br>
Peter Stuart '89<br>
Nancy Anton '88<br>
Jennifer Floyd '88<br>
Pamela Friedman '88<br>
Nader Gheith '88<br>
Carl Lagrassa '88<br>

Christopher Oldham '88<br>
Rita Raju '88<br>
Terry Thoman '88<br>
Denny Tong '88<br>
Stephen Wilkinson '88<br>
Morgan Gaines '87<br>
Greg MacDonald '87<br>
David Myers '87<br>
Jim Ottenstein '87<br>
Suzanne Riley '87<br>
Tiffani Roberts '87<br>
Stephen N. Cohen '86<br>

Renee Cole '86<br>
Ann Connelly '86<br>
Scott Gomes '86<br>
Michael Phalen  '86<br>
Karen Segien '86<br>
Sean Washington '86<br>
Paula Danforth '85<br>
Suzanne Melley '85<br>
William Munroe '85<br>
Terrence Patterson '85<br>
Karen Segien '85<br>
Timothy Stewart '85<br>

Frank Kalwell '84<br>
Paul Krog '84<br>
Al Palmer '84<br>
Edward Schiller '84<br>
Christine Wilkins '84<br>
Jennifer Wynn '84<br>
Geoff Cloud  '83<br>
Daniel Delaney '83<br>
Peter Hinlein '83<br>
Matt Holland '83<br>
Brian Low '83<br>
Donny McInnis '83<br>

Michael Moles '83<br>
George Pollock '83<br>
David Segien '83<br>
John Wirzburger '83<br>
David Wright ‘83<br>
Stephen Basile ‘82<br>
Connie Crittenden '82<br>
Michael Daley '82<br>
Christine Fredella '82<br>
William McCart ‘82<br>
Glen Marrone ‘82<br>
Paul Miller '82<br>

Virginia Nixon '82<br>
Paula Scholfield '82<br>
Paul Zarrilli ‘82<br>
Cindy Cabral ‘81<br>
Douglas Chase '81<br>
Martha Crocker '81<br>
Donnalee Doyle '81<br>
Marcy Fucillo ‘81<br>
Roger Hadley '81<br>
David Holland '81<br>
Ravi S. Hoskere '81<br>
Chris Kassner '81<br>

Eileen Kelly '81<br>
Donna Larson '81<br>
Keith McKnight '81<br>
Jody Mohlar '81<br>
Stephen Murphy '81<br>
Caitlin Owen '81<br>
Mark Pianka '81<br>
Doug Wright ’81<br>
Dana Caper '80<br>
Tim Delaney '80<br>
Lydia Gillis '80<br>
Diana Golden '80<br>

Beth Heppenstall  '80<br>
David Mlavsky '80<br>
David Murphy '80<br>
Kenny O'Donnell '80<br>
Jenifer Thomas '80<br>
Deborah Rosewell '80<br>
Gregory Schnieder '80<br>
Charles Werner '80<br>
Natalie Aufieri '79<br>
Chris Calandrella '79<br>
Kevin Darcy '79<br>
Lisa Lyon '79<br>

Judy McKnight '79<br>
Wayne Middleton '79<br>
Connie Putnam '79<br>
Charles Reade '79<br>
Elizabeth Smith '79<br>
William Spang '79<br>
Peter Spock '79<br>
Craig Babick ’78<br>
Judy Belfrey '78<br>
Barbara A. Bowen '78<br>
Fredricka Breen '78<br>
Kim Comstock '77<br>

Lori Delaney '78<br>
Karen Driscoll '78<br>
Eric Gupton '78<br>
David Hoch '78<br>
Richard Horowitz '78<br>
Karl Ingard '78<br>
James McIntyre '78<br>
Jeanne McNabb '72<br>
Karen Mooney '78<br>
Lawrence Nelson ‘78<br>
Charles Newcomb '78<br>
Kathy Ryan '78<br>

Linda Scheurer '78<br>
Thomas J. Zondiros '78<br>
Mark Day '77<br>
Richard Dreher '77<br>
Florence Edwards '77<br>
David Gillespie '77<br>
Mark Hannon '77<br>
Arthur Hildreth '77<br>
Maryellen Lee '77<br>
Carol Mailhot '77<br>
John Malone  '77<br>
Maureen Morrissey '77<br>

Thomas Mulcahy '77<br>
Susan Petit '77<br>
Stephen Porter '77<br>
Ellen Ross '77<br>
Neal Russell '77<br>
Linda Scheuer '77<br>
John G. Wilson Jr. '77<br>
Mark Baldelli '76<br>
Art Beaubien '76<br>
Dean Burland '76<br>
Cathy Casner '76<br>
Zami Comstock '76<br>

Thomas Hammond '76<br>
Pat Irvin '76<br>
Maureen Morrissey  '76<br>
Burr Nelson '76  <br>
Becky Roberts '76<br>
Alan D. Secatore '76<br>
Neil Souder '76<br>
John Varriale '76<br>
Paul Weiss '76<br>
Michael Zeller '76<br>
Fredi Barron '75<br>
Greg Cannon '75<br>

Robert Davis '75<br>
Peter Ehrenfeld '75<br>
David Fennell '75<br>
Annie Gillespie '75<br>
Mark Irby '75<br>
Jeff Johnson  '75<br>
Kenneth Keyes '75<br>
Mark Malone '75<br>
Kyle Petersen '75<br>
Michasel Rosenheim '75<br>
Susan Seaman '75<br>
Alan Shansky '75<br>

Janet Walton '75<br>
Paul Zygala '75<br>
Abby Atchley '74<br>
Lincoln Bent '74<br>
Maureen Cook '74<br>
Gregg Faddoul '74<br>
David Gallerani  '74<br>
John Gotschall '74<br>
Richard Jevon '74<br>
Jim McKnight '74  <br>
Deborah McLeod '74<br>
John Lafler '74<br>

David C. Owen '74<br>
Richard Panetta '74<br>
Brian Peavey '74<br>
Gary Reid '74<br>
Alex Saraglow '74  <br>
William Seaman '74<br>
Michael Atchue  '73<br>
Patricia Boyd '73<br>
Sue Caia '73<br>
Fred Ciampi '73<br>
Abigail Flint '73<br>
Paul Johnson '73<br>

Chris Kerrebrock '73<br>
Karl Leidy '73<br>
Chris Kerrebrock '73<br>
Karl Leidy '73<br>
Ramona Lucero '73<br>
Robert Malloy '73<br>
Angela Massa '73<br>
Eddie McCabe '73<br>
George McGovern '73<br>
Brenda Rando '73<br>
Mark Reich '73<br>
Irving Ring '73<br>

Richard Sewell '73<br>
Mark Spreen '73<br>
Greg Stephan '73<br>
Ralph Truesdale '73<br>
Henry Daniels '72<br>
Reed Cooper '72<br>
James DeGraeve '72<br>
Guy Dietrich '72<br>
Kent Forbes '72<br>
David Gardner '72<br>
Cornell Grasty '72<br>
Richard Hilton '72<br>

Susan Housman '72<br>
Joseph Kelly '72<br>
Sharon Kelly '72<br>
Amy Kropp '72<br>
Lorene Larhette '72<br>
James Mariner '72<br>
Dana Marrone '72<br>
Alicia Martinelli '72<br>
Glenn Olsen '72<br>
Jeff Pillion  '72<br>
Salvatore Panetta '72<br>
Mark Redman '72<br>

David Reid '72<br>
Shari Roth '72<br>
Daniel Ryan '72 <br>
Eugene Verbryke '72<br>
Michael Wentworth  '72  <br>
Newton DeNormandie '71<br>
Mark Gould '71<br>
Steve Holland '71<br>
Rory McCullough '71<br>
Michael Moulton '71<br>
Ivy O'Brien '71<br>
Leslie Shansky '71<br>

Mark Moynihan  '70<br>
Bruce R. Allain  '69<br>
Andrea Cain '69<br>
Martha Clough '69<br>
David L.Cooper '69<br>
Roxanne M. Davis '69<br>
Gale Edwards '69<br>
Gilbert W Fullerton '69<br>
Diane L. Gianetti '69<br>
Robert T. Hatfield '69<br>
Patricia E. Ide '69<br>
Richard W. Johansen '69<br>

Alan P. Leger '69<br>
Claudia E. Manfredi '69<br>
Brooke Miller '69<br>
Charles F. O' Brien '69<br>
Marc Reid '69<br>
Karen E. St. Croix '69<br>
Sharon E. Tjaden '69<br>
Jan Warner '69<br>
Robert J. Westcott '69<br>
Guilbert D. Winchell '69<br>
William W. Winter Jr. '69<br>
Bruce Dedarrien  '68 <br>

Alan Dempster '68<br>
Tim Moir '68<br>
Paul Poor '68<br>

Shirley O'Brien '68<br>
Christopher White '68<br>
Robert J. Shaffner Jr. '67<br>
Janet Chisholm '66<br>
Leslie Rose Leone '66<br>
Larry P. Huhtamaki '65<br>
James Fry '64<br>
Carol Clippinger '59<br>
Becky Dodge '59<br>
Rusell Doherty '59 <br>
Jackie Seeckts '59 <br>
Danny Styron '59</p>
  </body>
{% endblock %}