{% extends "layout.html" %}

{% block body %}
<body>
  
<h1>When & why did this project start?</h1>


Initially, this project was intended to honor the student who was murdered at L-S in 2007. Because LS had just celebrated its 50th anniversary, the organizers decided to build the school as a memorial to all LS students and alumni whose lives had been cut short.

After two years of intensive fundraising, the memorial school opened in October 2009. The official “opening school” ceremony took place in May 2010. A 12-minute movie is available that documents that event can be found on the homepage.

<br>
<br>
<br>


<h1>Why Cambodia?</h1>


There are two reasons that Cambodia was chosen as the site for our memorial school. First, there was a tremendous need. The educational system of Cambodia was obliterated during the period of the Khmer Rouge genocide in the 1970s. Schools were destroyed and teachers executed. Cambodia remains one of the poorest countries in Asia. Second, the international organization we have been working with has a record of trustworthiness and effectiveness. American Assistance for Cambodia (AAfC) has built over 500 schools in rural Cambodia. None of the project organizers had a prior commitment to Cambodia, but AAfC was spotlighted by New York Times columnist Nicolas Kristof. His endorsement of its efforts gave us a greater confidence that the money we raised would be put to good use.

<br>
<br>
<br>

<h1>Why a school?</h1>


On behalf of those who didn’t have a full chance at life here, we wanted to give kids the opportunity for a better life over there. We felt building a school for those we lost would be a more meaningful form of remembrance than a plaque. The school has been built. Why continue to raise money? After buying two special MIT-designed, solar–powered computers for the over 200 Cambodian students, we continue to be responsible for paying the annual Internet fees and the salary of the Computer/English teacher, which the government does not provide. We would also like to buy basic school supplies and more computers for the students.

<br>
<br>
<br>

<h1>Does the project have other goals?</h1>



Yes. Apart from memorializing those we have “lost too soon” and helping to give desperately poor students an education, we wanted to encourage a global cultural exchange. In 2011, LS students and their sister school “classmates” began exchanging email messages as part of a continuing pen pal project.

We also believe this project has the potential to bring together the entire LS community–students, staff, and alumni–in the common work of helping to make a better, more caring world. The LS Memorial School Project is grateful for any support you can give and invites your help in whatever way you wish to contribute.

</body>

{% endblock %}